.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
}

.title-heading {
    color: red;
}

.title-subheading {
    color: white; 
}

.menu {
    display: flex;
    justify-content: space-around;
 }

.contact {
    display:flex; 
    align-items: center;
    justify-content: space-around;
}

.electrical{
    
 }

.background{
    height: 50em;
    width: 100%;
    background-image: url("../images/circuit-board.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    margin-top: 5em;
 }
 
 .list{
    position:relative;
    bottom: 50em;
 }
