.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
}

.title-heading {
    color: red;
}

.title-subheading {
    color: white; 
}

.menu {
    display: flex;
    justify-content: space-around;
 }

.contact {
    display:flex; 
    align-items: center;
}